<?xml version="1.0" encoding="UTF-8"?>
<suite name="ExampleSuite" >

<groups>
  <run> 
   <include name="headerTest">
   </include>
  </run>
</groups>
    <test name="SuiteTests" >
        <classes>
            <class name="suiteExample.DemoOne"/>
            <class name="suiteExample.DemoTwo"/>
            <class name="TestActivity.Activity1"/>
            <class name="TestActivity.Activity2"/>
            <class name="TestActivity.Activity3"/>
            <class name="TestActivity.Activity5"/>
        </classes>
    </test>
</suite>